{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>{% block title %}Simple Parser{% endblock %}</title>

    {% block meta %}
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    {% bootstrap_css %}
    {% endblock %}

    {% block styles %}
    <style>
      {% include "root.css" %}
    </style>
    {% endblock %}

  </head>
  <body>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
